---
import Base from '../../layouts/Base.astro';
import BlogList from '../../components/BlogList.tsx';
---
<Base title="Blog">
  <h1 class="text-2xl font-semibold">Blog</h1>
  <BlogList client:load />
</Base>